<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869768631509-av6fp2icdlqd9jmko3hppqpv0s6emrr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869768631509-av6fp2icdlqd9jmko3hppqpv0s6emrr4</string>
	<key>API_KEY</key>
	<string>AIzaSyAWPRjGjjEtAw7W4xUf6k-pirAWaWu6IBk</string>
	<key>GCM_SENDER_ID</key>
	<string>869768631509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.humasin</string>
	<key>PROJECT_ID</key>
	<string>humasin-7d29f</string>
	<key>STORAGE_BUCKET</key>
	<string>humasin-7d29f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869768631509:ios:40c69283b5c168dc887e5c</string>
</dict>
</plist>