rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function userDoc() {
      return /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /users/{userId} {
      allow read: if true;
      allow create, update: if request.auth.uid == userId;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /desain/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /promosi/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /peliputan/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /studio/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /jenis_desain/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /media_promosi/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /jenis_studio/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /cetak/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /jenis_cetak/{id} {
      allow read, write: if true;
    }

    // WARNING! ONLY FOR TEST MODE: Make sure you properly configure the
    // security rules for this collection before publishing your app.
    match /kunjungan/{id} {
      allow read, write: if true;
    }
  }
}
